<div class="container mx-auto min-h-screen grid grid-cols-12">
  <div class="container mx-auto grid col-start-1 col-span-2">


   <div class="h-screen w-48 px-3 border-r bg-white">
   <div class="h-3/4 flex flex-col justify-around text-gray-500">
      <h3 class="pl-1 text-sm flex items-center py-2 mb-2 transition duration-200 ease-in">
        <img class="mx-auto mb-10" src="https://v1.tailwindcss.com/_next/static/media/tailwindcss-logotype.5d127e1d767d06efa2b03fe4de5f3d84.svg" />
      </h3>
      <h3 class="pl-1 text-sm flex items-center py-2 mb-2 hover:bg-blue-100 hover:text-blue-900 transition duration-200 ease-in">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
          <a class="hover:text-blue-900 transition duration-200 ease-linear" href="#">Dashboard</a>
      </h3>
      <h3 class="pl-1 text-sm flex items-center py-2 mb-2 hover:bg-blue-100 hover:text-blue-900 transition duration-200 ease-in">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
          <a class="hover:text-blue-900 transition duration-200 ease-linear" href="#">Vendors</a>
      </h3>
      <h3 class="pl-1 text-sm flex items-center py-2 mb-2 hover:bg-blue-100 hover:text-blue-900 transition duration-200 ease-in">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
        </svg>
          <a class="hover:text-blue-900 transition duration-200 ease-linear" href="#">Payments</a>
      </h3>
      <h3 class="pl-1 text-sm flex items-center py-2 mb-2 hover:bg-blue-100 hover:text-blue-900 transition duration-200 ease-in">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
        </svg>
          <a class="hover:text-blue-900 transition duration-200 ease-linear" href="#">Loans</a>
      </h3>
      <h3 class="pl-1 text-sm flex items-center py-2 mb-2 hover:bg-blue-100 hover:text-blue-900 transition duration-200 ease-in">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
        </svg>
          <a class="hover:text-blue-900 transition duration-200 ease-linear" href="#">Settings</a>
      </h3>
   </div>
  </div>
  </div>

<div class="container mx-auto self-start col-start-3 col-span-9 bg-blue-100 justify-around">

  <!-- header start -->
<div class="container h-12 grid grid-cols-9 bg-white justify-around border-b-2 text-gray-500">
  <div class="container grid col-start-1 justify-items-right ">
    <button class="items-center h-10 w-24 text-center text-gray-700 hover:text-blue-900  bg-transparent border-b-2 border-transparent sm:px-4 -px-1 dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-blue-900">
      <span class="mx-1 text-sm sm:text-base transition duration-200 ease-linear" href="#">Payments</span>
    </button>
  </div>
  <div class="container w-4 grid col-start-auto justify-items-center">
    <button class="items-center h-10 w-3  text-center text-gray-700 hover:text-blue-900  bg-transparent border-b-2 border-transparent dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-blue-900">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 hover:text-blue-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </button>
  </div>
  <div class="container grid col-start-3 justify-items-left  gap-3 px-3">
    <button class="items-center h-10 w-20 px-2 py-2 -mb-px text-gray-700 hover:text-blue-900  bg-transparent border-b-2 border-transparent  dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-blue-900">
      <span class="mx-1 text-sm sm:text-base transition duration-200 ease-linear" href="#"">Upcoming</span>
    </button>
  </div>
  <div class="container py-2 col-start-8 cols-span-1 justify-self-center">
    <button class="inline-block relative">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg>
        <span class="animate-ping absolute top-1 right-0.5 block h-1 w-1 rounded-full ring-2 ring-green-400 bg-green-600"></span>
    </button>
  </div>
  <div class="container col-start-9 py-2">
    <div class="h-8 w-8">
      <img
					class="h-full w-full rounded-full mx-auto"
					src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
					alt="profile" />
    </div>
  </div>
</div>

  <!-- header end -->

  <!-- </div> -->
  <!-- Body start -->

        <div class=" h-20 grid grid-cols-[12rem,auto,auto] px-7  py-1">
          <div class="py-3">
            <div class=" w-200 px-4 bg-white-200 mr-2 font-black text-3xl">Dashboard</div>

          </div>

            <div class="flex flex-shrink-0 h-10 w-40 bg-white shadow-lg rounded-lg px-4 py-6 mx-4 my-4 justify-self-end place-items-center text-center">
              <div class="rounded-sm h-8 w-200 px-4 bg-white-200 flex-shrink-0">Today's Tasks</div>

            </div>
            <div class="flex flex-shrink-0 h-10 w-40 bg-white shadow-lg rounded-lg px-4 py-6 mx-4 my-4 justify-self-end place-items-center text-center">

              <div class="rounded-sm h-8 w-200 px-4 bg-white-200 flex-shrink-0">Payment Issues</div>
            </div>

        </div>

     <div class=" place-content-around grid grid-cols-6 gap-4 items-start mt-8 mx-auto px-8">
          <div class="col-span-6 justify-evenly items-center sm:col-span-6 md:col-span-3 lg:col-span-2 xl:col-span-2">
           <div class="col-span-6 sm:col-span-6 md:col-span-3 lg:col-span-2 xl:col-span-2">
              <div class="bg-white shadow-lg rounded-lg px-4 py-6 mx-4 my-4">
                <div class="mx-auto h-284 bg-white-400 text-gray-400 rounded-md">Total Outstanding</div>

              </div>
              <div class="bg-white shadow-lg rounded-lg px-4 py-6 mx-4 my-4">
                <div class="mx-auto h-284 bg-white-400 text-gray-400  rounded-md">Total Past Due</div>

              </div>
              <div class="bg-white shadow-lg rounded-lg px-4 py-6 mx-4 my-4">
                <div class="mx-auto h-284 bg-white-400 text-gray-400  rounded-md">Customers Past Due</div>

              </div>
              <div class="bg-white shadow-lg rounded-lg px-4 py-6 mx-4 my-4">
                <div class="mx-auto h-284 bg-white-400 text-gray-400  rounded-md">Days Past Due</div>

              </div>
            </div>
          </div>
          <div class="col-span-6 sm:col-span-6 md:col-span-3 lg:col-span-2 xl:col-span-2">
            <div class="flex  justify-between items-stretch  py-7 mx-4 my-4">
              <div class="flex-grow mr-2">Upcoming Payments</div>

              <button class="bg-white flex-shrink-0 px-4 rounded text-xs">View more</button>
            </div>

            <div class="bg-white self-item-pidding-left-0 item-pidding-right-0 pidding-top-0 shadow-lg rounded-lg   mx-4 my-4">
              <div class="p-2 bg-gray-100 rounded-t-lg">First gray</div>
              <div class="p-2 bg-white">First white</div>
              <div class="p-2 bg-gray-100">2 gray</div>
              <div class="p-2 bg-white">2 white</div>
              <div class="p-2 bg-gray-100">gray 3</div>
              <div class="p-2 bg-white rounded-b-lg">white 3</div>
            </div>



          </div>
          <div class="col-span-6 sm:col-span-6 md:col-span-3 lg:col-span-2 xl:col-span-2">
            <div class="flex justify-between items-stretch  py-7 mx-4 my-4">
              <div class="flex-grow  mr-2">Recent Transactions</div>

              <button class="bg-white flex-shrink-0 px-4 rounded text-xs">View more</button>
            </div>
            <div class="bg-white self-item-pidding-left-0 item-pidding-right-0 pidding-top-0 shadow-lg rounded-lg   mx-4 my-4">
              <div class="p-2 bg-gray-100 rounded-t-lg">First gray</div>
              <div class="p-2 bg-white">First white</div>
              <div class="p-2 bg-gray-100">2 gray</div>
              <div class="p-2 bg-white">2 white</div>
              <div class="p-2 bg-gray-100">gray 3</div>
              <div class="p-2 bg-white rounded-b-lg">white 3</div>
            </div>
          </div>
        </div>

          <div class="grid grid-cols-6 gap-4 items-start mt-8 mx-auto px-8">

            <div class="col-span-6 sm:col-span-6 md:col-span-3 lg:col-span-2 xl:col-span-2">
              <div class="bg-white shadow-lg rounded-lg px-4 py-6 mx-4 my-4">
                <div class="mx-auto h-284 bg-white-400   rounded-md">Days Past Due</div>


              </div>
            </div>


            <div class="col-span-6 sm:col-span-6 md:col-span-3 lg:col-span-2 xl:col-span-2">
              <div class="bg-white shadow-lg rounded-lg px-4 py-6 mx-4 my-4">
                <div class="mx-auto h-88 bg-white-200 rounded-md">Days Past Due Over Time</div>


              </div>
            </div>

            <div class="col-span-6 sm:col-span-6 md:col-span-3 lg:col-span-2 xl:col-span-2">
              <div class="bg-white shadow-lg rounded-lg px-4 py-6 mx-4 my-4">
                <div class="mx-auto h-88 bg-white-200  rounded-md">Outsiding vs. Past Due Over Time</div>


              </div>
            </div>

          </div>



</div>


  <!-- body end -->
    </div>
</div>
